body{
	height: 1500px;
	margin: 0;
	background-color: #002060;
}


/* Navigation */ 
.main-nav {
	position: fixed;
	width:100%;
	top: 0;
	right: 0;
  margin: 0;
  padding: 0;

	z-index: 100;
  background-color: #002060;
	border-bottom:4px solid #000;
}

.main-nav li {
	display: block;
	list-style:none;
	float: right;
  padding: 12px;
  
  text-decoration: none;
  font-size: 17px;
	width: calc((100% - 250px)/5);
	height: 30px;
  text-align: center;
}

.main-nav li a {
  color: white;
  text-align: center;
  font-family: Arial Black;
  text-decoration: none;
}

.main-nav li:hover{
	background-color: #fff;
  box-shadow: 0px 15px 20px #8f8f8f;
	
  transform: translateY(-1px);

}

.main-nav li:hover a{
	color: #002060;

}

.main-nav 
.logo {
	display: inline-block;
	margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
	width: 200px;
	
}

@media screen and (max-width: 900px) {
  .main-nav li {
    float: right;
    display: block;
    width: 10%;
    text-align: left;
		height: 30px;
  }
	.main-nav li a
	{
  	display: none;
	}
	.main-nav li:hover
	{
		display: none;
	}
}

/* First Division */
.intro{
	background-image: url("images/girlCarDealer.png");
	background-size: cover;
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.title
{
	color: #002060;
	font-family: "Arial Black";
	text-transform: uppercase;
	font-size: 90px;
	text-align: center;
	
	

	
  position:relative;
  top: 30%; bottom: 0; left: 0; right: 0;
  margin: auto;
  height: 20px; /*requires explicit height*/

	animation: fadeIn ease 3s;

}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.title a
{
	color: orange;
}

@media screen and (max-width: 900px) {
	.intro{
		/* height: 600px;  */
	}
}

/* Second Division */
.estimatorPath{
	background-image: url("images/girlCarSitSky.png");
	background-size: cover;
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: 25% 50%;
	background-filter: blur(5px);
}

.estimatorQuote
{
	color: #002060;
	font-family: "Arial Black";
	text-transform: uppercase;
	font-size: 5vh;
	text-align: left;
	
  position:relative;
	
  top: 30%; bottom: 0; left: 25%; right: 0;
  margin: auto;
  height: 50px; /*requires explicit height*/
	width: 30%;
	border-width: 2vw;
}


.box {
  background-color: orange;
  position: relative;
  height: 20px;
  width: 100px;
	top: 30%; bottom: 0; left: 60%; right: 0;
}

.runBut {
	position: absolute;
  /* lets have the pirate 20px from the left */
  left: calc(60%);
	top: calc(36% + 18vh);
  /* margin-top: 63vh; margin-bottom: 0; margin-left: 60%; right: 0; */
	
  height: 50px; /* 63% requires explicit height*/
  width: 15%;
  background-color: orange;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

	box-shadow: 0 0 10px orange;
}

.runBut: hover {
	animation: glowing ease 3s;
}

@keyframes glowing {
  0% {
    background-color: #2ba805;
    box-shadow: 0 0 3px #2ba805;
  }
  50% {
    background-color: #49e819;
    box-shadow: 0 0 10px #49e819;
  }
  100% {
    background-color: #2ba805;
    box-shadow: 0 0 3px #2ba805;
  }
}

@media screen and (max-width: 900px) {
	.runBut {
	  width: 25%;
	}
}

/* Second Division */
.infoSection{
	background-image: url("images/sunsetCar.jpg");
	background-size: cover;
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: 25% 50%;
	background-filter: blur(5px);
}

.infoBlock{
	background-color: white;
  position: absolute;
  height: 65%;
  width: 22%;
	
	border-radius: 50px;
	padding: 2%;
}

.iA{
	top: 215%; left: 5%;
}
.iB{
	top: 215%; left: 37.5%;
}
.iC{
	top: 215%; left: 70%;
}

.infoImg{
	display: block;
  margin-left: auto;
  margin-right: auto;
	width: 70%;
	height: auto;
}

.infoTitle{
	text-align: center;
	color: black;
	font-family: "Arial Black";
	text-transform: uppercase;
	font-size: 3vh;
}

.infoDesc{
	text-align: center;
	color: darkgray;
	font-family: "Arial Black";
	font-size: 3vh;
}

@media screen and (max-width: 1000px) {
	.infoBlock{
		background-color: white;
	  position: absolute;
	  height: 22%;
	  width: 90%;
		
		border-radius: 50px;
		padding: 2%;
	}

	.iA{
	top: 210%; left: 3%;
	}
	.iB{
		top: 240%; left: 3%;
	}
	.iC{
		top: 270%; left: 3%;
	}

	.infoImg{
		display: inline-block;
	  float: left;
		height: 100%;
		width: auto;
		padding-right: 2%;
	}

	.infoTitle{
		text-align: left;
		color: black;
		
		font-family: "Arial Black";
		text-transform: uppercase;
		font-size: 3vw;
	}

	.infoDesc{
		text-align: left;
		color: darkgray;
		font-family: "Arial Black";
		font-size: 2.5vw;
	}
}

@media screen and (max-width: 500px) {
	.infoBlock{
		background-color: white;
	  position: absolute;
	  height: 22%;
	  width: 90%;
		
		border-radius: 50px;
		padding: 2%;
	}

	.iA{
	top: 225%; left: 4%;
	}
	.iB{
		top: 255%; left: 4%;
	}
	.iC{
		top: 285%; left: 4%;
	}

	.infoImg{
		display: inline-block;
	  float: left;
		height: 100%;
		width: auto;
		padding-right: 2%;
	}

	.infoTitle{
		text-align: left;
		color: black;
		
		font-family: "Arial Black";
		text-transform: uppercase;
		font-size: 5vw;
	}

	.infoDesc{
		text-align: left;
		color: darkgray;
		font-family: "Arial Black";
		font-size: 4vw;
	}
}

/* Credits */

.aboutUs{
	padding-left: 10px;
	display: inline-block;
	color: white;
	text-align: left;
	width: 30%;
	
	top: 30%;
}

.minorLinks{
	display: block;
	position: absolute;
	color: white;
	text-align: center;
	width: 30%;
	top: 300%;
  left: 35%;
}

.minorLinks a{
  color: white;
	text-decoration: none;
}

.minorLinks a:hover{
	text-decoration: underline;
}

.thanks{
	padding-right: 10px;
	display: inline-block;
	float: right;
	color: white;
	text-align: right;
	width: 30%;
	top: 315%;
	right: 0%;
}

@media screen and (max-width: 500px) {
	.aboutUs{
		font-size: 15px;
	}
	.minorLinks{
		display: block;
		position: absolute;
		color: white;
		text-align: center;
		width: 30%;
		top: 323%;
	  left: 35%;
		font-size: 15px;
	}
	.thanks{
		
		font-size: 15px;
	}
	
}

/* Reveal */

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}